<%# ブートストラップは後から記述します　%>
<%# 注文情報入力画面　%>
<div>
  <div>
    <div>
      <h2>注文情報入力</h2>
      <%= form_with(model: @order, local: true, url: public_orders_confirm_path, method: :post) do |f| %>
    </div>
  </div>
</div>