<!-- 注文ありがとう画面　-->
<div class="container col-10">
  <div class="my-5">
    <div class="text-center my-5">
      <h1 class="my-5">ご注文ありがとうございました！</h1>
    </div>
  </div>
  <div class="text-center mt-5" >
    <div class="mt-5">
      <h5><%= link_to "ホーム画面へもどる", root_path, class: "my-5 btn btn-outline-primary"%></h5>
    </div>
  </div>
  <div class="text-center" >
    <div class="mb-5">
      <h5><%= link_to "注文履歴一覧", orders_path, class: "my-5 btn btn-outline-success"%></h5>
    </div>
  </div>
</div>

