<div class="container px-5">
  <div class="row">
    <h4 class="title-order">注文履歴詳細</h4>
    <table class="table table-borderless">
      <tbody>
        <tr>
          <th><strong>購入者</strong></th>
          <td>
            <%#= link_to admin_customer_path(@order.customer) do %>
              <%#= @order.customer.last_name %>
              <%#= @order.customer.first_name%>
            <%# end %>
          </td>
        </tr>
        <tr>
          <th><strong>注文日</strong></th>
          <td><%#= order.created_at.strftime("%Y/%m/%d") %></td>
        </tr>
        <tr>
          <th><strong>配送先</strong></th>
          <td>
            <p><%#= @order.postal_code %><%#= @order.address %></p>
            <p><%#= @order.dear_name %></p>
          </td>
        </tr>
        <tr>
          <th><strong>支払方法</strong></th>
          <td><%#= @order.method_of_payment %></td>
        </tr>
        <tr>
          <th><strong>注文ステータス</strong></th>
          <td>
            <%#= form_with model: @order, url: admin_order_path, method: :patch, local: true do |f| %>
              <!-- 注文ステータスのpull downボタン -->
              <%#= f.select :orderd_status, Order.orderd_statuses.keys.to_a %>
              <%#= f.select :orderd_status, Order.orderd_statuses.values.to_a %>
              <%#= f.submit "更新", class: "btn btn-success" %>
            <%# end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="col-xs-8">
      <table class="table table-bordered">
        <thead>
          <tr class="table-head" style="background-color:#gray" >
            <th><strong>商品名</strong></th>
            <th><strong>単価（税込）</strong></th>
            <th><strong>数量</strong></th>
            <th><strong>小計</strong></th>
            <th><strong>製作ステータス</strong></th>
          </tr>
        </thead>
        <tbody>
          <%# @order_items.each do |order_item| %>
            <tr>
              <td><%#= order_item.item.item_name %></td>
              <td><%#= order_item.taxed_parchase_price %></td>
              <td><%#= order_item.purchase_quantity %></td>
              <td><%#= order_item.taxed_parchase_price * order_item.purchase_quantity %></td>
              <td>
                <%#= form_with model: order_item, url: admin_order_order_item_path, method: :patch, local: true do |f| %>
                  <!-- 製作ステータスのpull downボタン -->
                  <%#= f.select :production_status, OrderItem.production_statuses.keys.to_a %>
                  <%#= f.select :production_status, OrderItem.production_statuses.values.to_a %>
                  <%#= f.submit "更新", class: "btn btn-success" %>
                <%# end %>
              </td>
            </tr>
          <%# end %>
        </tbody>
      </table>
    </div>
    <div class="col-xs-4">
      <table class="table">
        <tbody>
          <tr>
            <th><strong>商品合計</strong></th>
            <td><%#= #taxed_purchase_price %></td>
          </tr>
          <tr>
            <th><strong>送料</strong></th>
            <td><%#= @order.freight %></td>
          </tr>
          <tr>
            <th><strong>請求金額合計</strong></th>
            <td><strong><%#= taxed_purchase_price %></strong></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>