<!-- 退会確認画面-->
<div class="mt-5">
  <h2 class="text-center"><strong>本当に退会しますか？</strong></h2>
</div>
<div class="my-5">
  <h3 class="text-center">
    退会すると、会員登録情報や<br>
    これまでの購入履歴が閲覧できなくなります。<br>
    退会する場合は、「退会する」をクリックしてください。
  </h3>
</div>
<div class="text-center m-5">
  <%= link_to "退会しない", customers_path, class: "btn btn-primary mx-2 col-2" %>
  <%= link_to "退会する",  customers_hide_path, method: :put, "data-confirm" => "本当に退会しますか?", class: "btn btn-outline-danger mx-2 col-2" %>
</div>
