<!-- ブートストラップは後から記述します-->
<!-- ジャンル編集画面-->
<div>
 <div>
   <div>
     <h3>ジャンル編集</h3>
     <%= form_with model: @genre, url: admin_genre_path(@genre), local: true do |f|%>
     <div>
       <%= f.label :ジャンル名 %>
       <%= f.text_field :genre_name %>
       <%= f.submit "変更を保存" %>
     </div>
     <% end %>
    </div>
  </div>
</div>

