// Place all the styles related to the admin/OrderItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h4.title-order {
  padding: 0.5em;
  color: #494949;
  background: #d3d3d3;
  border-left: solid 5px #778899;
  text-align: center;
}