// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.genre-search-table {
  table-layout: auto;
	width: 100%;
	text-align: center;
	background-color: #e6e6fa;
}

table.genre-search-table,
table.genre-search-table th,
table.genre-search-table td {
  border-top: solid  2px #778899;
  border-bottom: solid 2px #778899;
	border-collapse: collapse;
}

th.top {
	width: 100px;
}

table.genre-search-table td, 
table.genre-search-table th {
	padding: 10px;
	box-sizing: border-box;
}