<table class='table'>
  <thead>
    <th><td>ジャンル検索</td></th>
  </thead>
  <tbody>
    <tr><td>ケーキ</td></tr>
    <tr><td>焼き菓子</td></tr>
    <tr><td>プリン</td></tr>
    <tr><td>キャンディ</td></tr>
  </tbody>
  
</table>