<table class="table table-bordered text-center genre_search_table">
  <thead>
    <tr class="table-head">
      <th>ジャンル検索</th>
    </tr>
  </thead>
  <tbody>
    <% genres.each do |genre| %>
    <tr class="table-body">
      <td>
        <%= link_to genre.genre_name, items_path(genre_id: genre.id), class:"genre_search_name" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>