/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 body{font-family: 'Kaisei HarunoUmi', serif;}
 
 
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #bc8f8f;
  padding: 8px 12px;
}

.nav-customer-name {
  list-style: none;
  color: #440000;
  display: flexbox;
}

.nav-item {
  padding-left: 0;
}

.nav-item i {
  padding: 8px 12px;
  color: #440000;
}

.nav-item i:hover {
  background-color: #996666;
  border-radius: 4px;
}
.shop_logo{
  width: 250px;
  margin-top: 10px;
 }

@media screen and (max-width: 991px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }
  .nav-item {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .nav-item i {
    width: 100%;
    text-align: center;
  }
}

footer {
  justify-content: center;
  background-color: #bc8f8f;
}